<h1 class="title mb-4 text-center">Editar perfil</h1>
<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "your-form-class" }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :password,
                  hint: "Deixe em branco se não quiser mudar",
                  required: false,
                  input_html: { autocomplete: "new-password", class: "create-input transparent-input" },
                  label: "Nova senha" %>
      <%= f.input :password_confirmation,
                  hint: "Deixe em branco se não quiser mudar",
                  required: false,
                  input_html: { autocomplete: "new-password", class: "create-input transparent-input" },
                  label: "Confirme a nova senha" %>
      <%= f.input :current_password,
                  hint: "Precisamos da antiga senha para confirmar a mudança",
                  required: true,
                  input_html: { autocomplete: "current-password", class: "create-input transparent-input" },
                  label: "Senha antiga" %>
      <%= f.input :photo, as: :file,
                  label: "Troque sua foto de perfil" %>

    </div>
    <div class="form-actions">
      <%= f.button :submit, "Atualizar", class: "btn-ace mt-3 mb-3 w-100" %>
    </div>
  <% end %>
</div>
