<%= render 'shared/navbar_general' %>

<div data-controller="message" class="page-container">

  <div class="d-flex">
    <div class="column">
      <button data-action="click->message#showMessage" class="column-button">Notifications</button>
    </div>

    <div class="column">
      <button data-action="click->message#showNotification" class="column-button">Messages</button>
    </div>
  </div>

  <div>
    <div data-message-target="message" class="content">
      <!-- Contenu de la colonne des messages -->

      <% @requests.each do |request| %>
          <% if request.user == current_user %>
          <% first_print_date = request.created_at %>
          <% current_date = Time.now %>
          <% difference_minutes= ((current_date - first_print_date) /60).round %>
          <% difference_hours= ((current_date - first_print_date) / 3600).round %>
          <% difference_days= ((current_date - first_print_date) / 96400).round %>
          <div class="card-vinted" data-controller="toggle" class="collapsed">
            <div data-action="click->toggle#toggle">
              <% if difference_minutes < 60%>
                <p style='color: gray'>Há <%= difference_minutes %> minutos</p>
              <% elsif difference_hours = 1%>
                <p style='color: gray'>Há <%= difference_hours %> hora</p>
              <% elsif difference_hours < 24%>
                <p style='color: gray'>Há <%= difference_hours %> horas</p>
              <% elsif difference_days = 1 %>
                <p style='color: gray'>Há <%= difference_days %> dia</p>
              <% else %>
                <p style='color: gray'>Há <%= difference_days %> dias</p>
              <% end %>
              <h2> Você desafiou <%= request.match.user.nickname %>!</h2>
              <%# <p> <i class="fa-solid fa-baseball" style="color: #020203;"></i> Match <%= request.match.modality%>
              <% if request.status == "refused" %>
              <p style="color: grey"><strong> Desafio cancelado </strong> </p>
              <% end %>
            </div>
            <div data-toggle-target="content">
              <p><%= request.match.address %></p>
              <p> Data: <%= request.created_at.strftime("%d/%m/%Y %H:%M") %></p>
              <div class="button-container">
                <% if request.status == "pending" %>
                  <button class="refuse-button button-full-width btn-refuser"><%= link_to "Cancelar desafio", refuse_request_path(request), data: { turbo_method: :patch } %></button>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <% if request.status == "accepted" && request.match.match_type == "Défi" %>
            <% first_print_date = request.updated_at %>
            <% current_date = Time.now %>
          <% difference_minutes= ((current_date - first_print_date) /60).round %>
          <% difference_hours= ((current_date - first_print_date) / 3600).round %>
          <% difference_days= ((current_date - first_print_date) / 96400).round %>
          <div class="card-vinted card-score" data-controller="toggle" class="collapsed">
            <div data-action="click->toggle#toggle">
              <% if difference_minutes < 60%>
                <p style='color: gray'>Há <%= difference_minutes %> minutos</p>
              <% elsif difference_hours = 1%>
                <p style='color: gray'>Há <%= difference_hours %> hora</p>
              <% elsif difference_hours < 24%>
                <p style='color: gray'>Há <%= difference_hours %> horas</p>
              <% elsif difference_days = 1 %>
                <p style='color: gray'>Há <%= difference_days %> dia</p>
              <% else %>
                <p style='color: gray'>Há <%= difference_days %> dias</p>
              <% end %>
              <h2 style="color: #253343;"> Indique o placar do jogo com <%= request.user.nickname %></h2>
              </div>
              <div data-toggle-target="content">
                <button class="btn-ace"><%= link_to "Placar", edit_match_path(request.match), class: "" %></button>
              </div>
            </div>
          <% end %>

          <% first_print_date = request.created_at %>
          <% current_date = Time.now %>
          <% difference_minutes= ((current_date - first_print_date) /60).round %>
          <% difference_hours= ((current_date - first_print_date) / 3600).round %>
          <% difference_days= ((current_date - first_print_date) / 96400).round %>
          <div class="card-vinted" data-controller="toggle" class="collapsed">
            <div data-action="click->toggle#toggle">
              <% if difference_minutes < 60%>
                <p style='color: gray'>Há <%= difference_minutes %> minutos</p>
              <% elsif difference_hours = 1%>
                <p style='color: gray'>Há <%= difference_hours %> hora</p>
              <% elsif difference_hours < 24%>
                <p style='color: gray'>Há <%= difference_hours %> horas</p>
              <% elsif difference_days = 1 %>
                <p style='color: gray'>Há <%= difference_days %> dia</p>
              <% else %>
                <p style='color: gray'>Há <%= difference_days %> dias</p>
              <% end %>
              <h2> <%= request.user.nickname %> quer te desafiar! </h2>
              <%# <p> <i class="fa-solid fa-baseball" style="color: #020203;"></i> Match <%= request.match.modality%>
              <% if request.status == "refused" %>
              <p><strong> Desafio recusado </strong> </p>
              <% elsif request.status == "accepted" %>
              <p style="color: grey"><strong> Desfio aceito</strong> </p>
              <% end %>
            </div>
            <div data-toggle-target="content">
              <p> Data: <%= request.created_at.strftime("%d/%m/%Y %H:%M") %></p>
              <div class="button-container">
                <% if request.status == "pending" %>
                  <div class="button-wrapper">
                    <button class="accept-button button-half-width btn-accepter"><%= link_to "Aceitar", accept_request_path(request), data: { turbo_method: :patch } %></button>
                    <button class="refuse-button button-half-width btn-refuser"><%= link_to "Recusar", refuse_request_path(request), data: { turbo_method: :patch } %></button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

    <div data-message-target="notification" class="container chat-card">
      <%# class="content"> %>
      <!-- Contenu de la colonne des notifications -->
      <% current_user.chatrooms.each do |chatroom|%>
        <%= link_to chatroom_path(user_id: other_chatroom_user(chatroom).id ) do%>
          <div class="small-card">
              <div>
                <%= cl_image_tag other_chatroom_user(chatroom).photo.key, class: "avatar m-3"%>
              </div>
              <div class="chat-infos">
                <p style="font-size: 20px" class="card-titre-gras"><strong><%= other_chatroom_user(chatroom).nickname %></strong></p>

                <% unless chatroom.messages.empty? %>
                  <%= chatroom.messages.last.content%>

                <% end %>
              </div>

              <div>
                <% unless chatroom.messages.empty? %>
                  <i class="message-time"><%= chatroom.messages.last.created_at.strftime("%l:%M %p")%></i>
                <% end %>
              </div>
          </div>
        <%end%>
      <%end%>
    </div>


  </div>
</div>
