
<%= render 'shared/navbar_general' %>
 <div class="league-container image-fond">
    <div class="container text-center mb-0"> <!-- Added 'text-center' class -->
      <div class="profile" style="margin-bottom: 20px; margin-top: 20px" data-controller="fade-out">
        <%= cl_image_tag current_user.photo.key, class: "profile-avatar avatar-bordered img-fluid rounded-circle"%>
        <h1 class="title"><%= current_user.nickname %></h1>
        <div class="fade-wrapper mt-3 mb-4">
          <h4 class="fade-out" style="font-size: 22px; font-weight: bold;"><%= current_user.points - params[:points_change_user].to_i if current_user.points %>pts</h4>
          <h4 class="fade-in" style="font-size: 22px; font-weight: bold;"><%= current_user.points %>pts</h4>
        </div>
        <% if params[:points_change_user] %>
          <% points_change_user = params[:points_change_user].to_i %>
          <span data-fade-out-target="change" style="font-size: 22px;" class="fade-in <%= points_change_user.positive? ? 'won' : 'lost' %>"><%=  '+' if points_change_user.positive?%><%= points_change_user %> pts </span>
        <% end %>
      </div>
  </div>


    <%# <div class="container"> %>
      <!-- Create a league button -->
      <!-- Add a league button -->
      <%# <button class="btn btn-secondary" style="background-color: white; color: white;">
        <%= link_to "Rechercher une ligue", leagues_path %>
      <div class="boutons-profil">
        <ul class="nav nav-pills nav-fill" id="" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="menu-bar active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Ligas</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="menu-bar " id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Histórico</button>
          </li>
        </ul>
      </div>

      <div class="classement ", style="padding-top: 10px;">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <% displayed_leagues = [] %>
            <% @leagues.each do |league| %>
              <% unless displayed_leagues.include?(league.id) %>
                <% displayed_leagues << league.id %>
                <%= link_to league_path(league) do %>
                  <div class="small-card mt-0 carte-ligues mb-2 shadow-card" style="width: 360px; margin: auto;">
                    <%= image_tag league.image, class: "rounded-league-image m-3", style: "width: 40px; height: 40px;" %>
                    <h4 class="card-titre-gras"><%= league.name %></h4>
                    <p class="card-text icone-participants" style="margin-left: auto; margin-right: auto;">
                      <%= league.memberships.count %><i class="fa-solid fa-user-group" style="color: #253343; padding-left: 5px;"></i>
                    </p>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <button class="btn-ace mt-3">
              <%= link_to "Criar uma liga", new_league_path(@league), style: "color: #EBF95E"  %>
            </button>
          </div>
        </div>

        <div class="tab-pane fade ms-3" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0" >

        <div class="devant-card">
          <div class="container bloc transition">
            <div class="card-product">
              <% unless @matches.empty? %>
                <% @matches.order(date: :desc).group_by { |match| match.date.to_date }.each do |date, matches| %>
                  <h2 class="text-center fs-5"><strong><%= I18n.l(date, format: :short) %></strong></h2>
                  <% matches.each do |match| %>
                    <% winner_user = User.where(nickname: match.winner).first %>
                    <% loser_user = User.where(nickname: match.loser).first %>
                    <% next unless winner_user == current_user || loser_user == current_user %>
                    <div class="small-card mt-0 mb-2 shadow-card" id="card-hist">
                      <div>
                        <%= cl_image_tag current_user.photo.key, class: "avatar m-2" %>
                      </div>
                      <div class="m-1 card-title-hist-bold">
                        <%= current_user.nickname %>
                      </div>
                      <div class="m-1">
                        <% if match.winner == current_user.nickname %>
                          <%= match.winner_score %>
                        <% else %>
                          <%= match.loser_score %>
                        <% end %>
                      </div>
                      <div class="m-1">
                        <%= "x" %>
                      </div>
                      <div class="m-1">
                        <% if match.winner == current_user.nickname %>
                          <%= match.loser_score %>
                        <% else %>
                          <%= match.winner_score %>
                        <% end %>
                      </div>
                      <div class="card-title-hist-light">
                        <% if match.winner == current_user.nickname %>
                          <%= link_to match.loser, user_profile_path(loser_user) %>
                        <% else %>
                          <%= link_to match.winner, user_profile_path(winner_user) %>
                        <% end %>
                      </div>
                      <div>
                        <% if match.winner == current_user.nickname %>
                          <%= cl_image_tag loser_user.photo.key, class: "avatar m-2" %>
                        <% else %>
                          <%= cl_image_tag winner_user.photo.key, class: "avatar m-2" %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>




        </div>
      </div>
  </div>



    <!-- History section -->
